@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #ffffff;
  --sidebar-bg: #ffffff;
  --header-border: #e5e7eb;
}

.dark {
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #ffffff;
  --sidebar-bg: #ffffff;
  --header-border: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-bg: var(--card-bg);
  --color-sidebar-bg: var(--sidebar-bg);
  --color-header-border: var(--header-border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
